@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
#menu {
  width: 100%;
  max-width: 300px;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

#menu li {
position: relative;
}

#menu li:first-child a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#menu li:last-child a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#menu li a {
  display: block;
  padding: 8px 10px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #009246; /* color de fondo del menú */
}

#menu li:hover > a:not(:last-child):not(:only-child) {
  background-color: #A2D340;
  color: #89532F;
}

#menu li ul.sub-menu {
  display: none;
}

#menu li.active > ul.sub-menu {
  display: block;
}

#menu li:hover > ul.sub-menu {
  display: block;
}

#menu ul.sub-menu {
  position: absolute;
  top: 0;
  left: 100%; /* Cambia la posición left para que aparezca al lado */
  display: none;
  margin-bottom: 0;
}

#menu li ul.sub-menu.active {
  display: block;
}

#menu ul.sub-menu li,
#menu ul.sub-menu ul.sub-menu li,
#menu ul.sub-menu ul.sub-menu ul.sub-menu li {
  list-style-type: none; /* Elimina las viñetas */
  width: 100%;
  margin-bottom: 0;
  padding: 0px;
}

#menu ul.sub-menu li a {
  display: block;
  padding: 8px 8px;
  color: #53565A;
  text-decoration: none;
  background-color: #A2D340; /* color de fondo del menú */
  font-family: 'Nunito', sans-serif;
  list-style-type: none;
  min-width: 150px; /* Establece un ancho mínimo */
  max-width: 250px; /* Establece un ancho máximo */
  /* padding: 0px; */
}

#menu ul.sub-menu li:hover > a {
  background-color: #A2D340;
  color: #89532F;
}

#menu ul.sub-menu,
#menu ul.sub-menu ul.sub-menu,
#menu ul.sub-menu ul.sub-menu li:hover {
  background-color: #A2D340; /* color de fondo del menú */
  padding: 0px;
}

#menu ul.sub-menu ul.sub-menu ul.sub-menu {
  background-color: #A2D340; /* color de fondo del menú */
}

#menu ul.sub-menu ul.sub-menu ul.sub-menu ul.sub-menu {
  background-color: #A2D340; /* color de fondo del menú */
}

#menu ul.sub-menu ul.sub-menu ul.sub-menu ul.sub-menu ul.sub-menu {
  background-color: #A2D340; /* color de fondo del menú */
}

#menu_Content{
  padding: 0px;
}

/* Mostrar submenús cuando el padre está enfocado o al hacer hover */
.menu-item:hover .sub-menu,
.menu-item:focus-within .sub-menu {
  display: block;
}

/* Estilo del icono de flecha */
.menu-item:hover::before,
.menu-item:focus::before {
  color: #89532F; /* Cambia el color del icono al pasar el mouse o enfocar */
}

#menu_Content {
  position: fixed;
  left: -250px;
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}

#menu_Content.active {
  transform: translateX(250px);
}


.BarraNavEstado{
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px !important;
  height: 40px; /* Agregado */
  min-height: 0px !important;
  background-color: #009246;
}

.btn-logout {
   display: inline-block;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #dc3545;
   color: #fff;
   text-decoration: none;
   margin-top: -2px;
}

.btn-logout i {
   margin-right: 10px;
}

.ObjetoContenedor{
   height: 100% !important;
   width: 100% !important;
}

.lblUsuario{    
  padding: 0px;
  padding-top: 10px;
  color: #FFFFFF;
}

.container {
  position: relative;
  overflow-x: hidden;
  width: 100% !important;
  height: 100% !important;
}

.icono_menu.active{
  color: #89532F;
}

.swal2-popup {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.icono_menu {
  position: absolute;
  left: 20px;
  cursor: pointer;
  z-index: 10000;
  color: #FFFFFF;
  font-size: 38px;
  padding-left: 18px;
}

#Lbltitulo{
  font-size: 22px;
}

.titulo_modal{
  font-weight: bold;
  font-size: 16px;
  color: #009246;
}

.table th, .table td, #Tbl_Alerta30Dias td, #Tbl_Alerta30Dias th, #Tbl_Alerta15Dias td, #Tbl_Alerta15Dias th, #Tbl_Amparos30Dias td, #Tbl_Amparos30Dias th{
  padding: 0px !important;
  text-align:center;
}



