.error {
  border: 1px solid red;
}

.swal2-popup {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.titulo_modal{
  font-weight: bold;
  font-size: 16px;
  color: #009246;
}

label{
  font-weight: normal;
}

.btn-success{
  background-color: #009246 !important;
  border-color: #009246 !important;
}


.btn_transparente{
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #009246;
}

.table th, .table td{
  padding: 0px !important;
  text-align:center;
}

#tbl_servicios_cargados td, #tbl_servicios_cargados th,#tbl_DetallePasajeros td, #tbl_DetallePasajeros th,#Tbl_Servicios_Asignar th, #Tbl_Servicios_Asignar td, #Tbl_Servicios_Parciales td, #Tbl_Servicios_Parciales th,#tbl_DetallePasajeros_Enlaces td,#tbl_DetallePasajeros_Enlaces th,#tbl_DetalleInvitados_Enlaces td,#tbl_DetalleInvitados_Enlaces th,#tbl_servicios_cargados_enlaces td, #tbl_servicios_cargados_enlaces th{
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

