.error {
  border: 1px solid red;
}

.montoerror{
  color: red;
}

.swal2-popup, .swal2-title,.swal2-validation-message  {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.ul-overlay {
  position: absolute;
  z-index: 9999;
}

.ul-overlay li:hover {
  background-color: #009246;
  color: white;
}
.titulo_modal{
  font-weight: bold;
  font-size: 16px;
  color: #009246;
}

.btn-success{
  background-color: #009246 !important;
  border-color: #009246 !important;
}

.btn_transparente{
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #009246;
}


.btn_transparente:disabled {
  color: gray;
}


.btn_inactivo{
  color: darkgray !important;
}

label{
  font-weight: normal;
}

.btn-success{
  background-color: #009246 !important;
  border-color: #009246 !important;
}

table td, table th{
  text-align: center;
}



/* Estilo para la tabla */
.tcpdf-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

/* Estilo para las celdas de encabezado */
.tcpdf-table th {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: left;
}

/* Estilo para las celdas de datos */
.tcpdf-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Estilo para las filas alternas */
.tcpdf-table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}


.total {
  background-color: transparent;
  border: none;
  color: rgb(0, 149, 64);
  margin-bottom: 10px;
}

.total legend {
  display: none;
}

.total .description,
.total .amount {
  display: inline-block;
  margin-right: 10px;
}

.total .description {
  font-weight: bold;
}

.total .amount {
  font-weight: normal;
}

#Tbl_CargarContratistas td, #Tbl_CargarContratistas th,#Tbl_CargarSupervisores td,#Tbl_CargarSupervisores th,#Tbl_Amparos_Poliza td,#Tbl_Amparos_Poliza th,#Tbl_ValorOtrasFuenta th, #Tbl_ValorOtrasFuenta td,#Tbl_Lista_Poliza th, #Tbl_Lista_Poliza td,#Tbl_VerAmparosPoliza th, #Tbl_VerAmparosPoliza td,#Tbl_ResumenGestionDocumental th, #Tbl_ResumenGestionDocumental td,#Tbl_ResumenGestionCont th, #Tbl_ResumenGestionCont td,#Tbl_ResumenGestionDocumental_Total td, #Tbl_ResumenGestionDocumental_Total th,#Tbl_Reporte_PolizasAmparosContr td,#Tbl_Reporte_PolizasAmparosContr th,#Tbl_ResumenGenContr_Reporte_Total td, #Tbl_ResumenGenContr_Reporte_Total th{
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

#Tbl_ResumenGestionCont th:nth-child(12) center,
#Tbl_ResumenGestionCont td:nth-child(12) center {
  width: 30%;
}

.modal-extra-wide {
  width: 90% !important;
}

.texto-largo {
  max-width: 30%; /* Establece el ancho máximo */
  white-space: nowrap; /* Evita el desbordamiento de texto */
  overflow: hidden; /* Oculta el contenido que no cabe */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto es demasiado largo */
}

#Tbl_ResumenGenContr_Reporte_Total td,#Tbl_ResumenGenContr_Reporte_Total th{
  max-width: 150px; /* Ejemplo de ancho máximo */
  white-space: nowrap; /* Evita el desbordamiento de texto */
  overflow: hidden; /* Oculta el contenido que no cabe */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto es demasiado largo */
}


