.error {
  border: 1px solid red;
}

.swal2-popup {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.ul-overlay {
  position: absolute;
  z-index: 9999;
}

.ul-overlay li:hover {
  background-color: #009246;
  color: white;
}
.titulo_modal{
  font-weight: bold;
  font-size: 16px;
  color: #009246;
}

label{
  font-weight: normal;
}

.btn-success{
  background-color: #009246 !important;
  border-color: #009246 !important;
}

table td, table th{
  text-align: center;
}